# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.log
local_settings.py

# Staticfiles — generado por collectstatic en Render
staticfiles/

# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env
.env.local

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
